<div class="row">
  <nz-collapse>
    <nz-collapse-panel
      class="collapse_header"
      [nzHeader]="'Advance Search'"
      [nzShowArrow]="false"
      [nzExtra]="extraIcons"
    >
    <!-- ----------------------------------------------------------------------- -->
    <!--                               Filter Form                               -->
    <!-- ----------------------------------------------------------------------- -->
      <form nz-form [nzNoColon]="false">
        <div nz-row [nzGutter]="24">
          <!-- ------------------------------ Full Name ------------------------------ -->
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label [nzLayout]="'vertical'" nzFor="fullName"
                >Client Name</nz-form-label
              >
              <nz-form-control>
                <input
                  nz-input
                  [(ngModel)]="ticketsParameters.fullName"
                  name="fullName"
                  type="text"
                  id="fullName"
                  placeholder="Client Name"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- ------------------------------- Modules ------------------------------- -->
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label nzFor="module">Module(s)</nz-form-label>
              <nz-form-control>
                <nz-select
                  [nzMaxTagCount]="1"
                  [nzMaxTagPlaceholder]="modulelaceHolder"
                  nzMode="multiple"
                  nzPlaceHolder="Please Select Module"
                  name="module"
                  [(ngModel)]="ticketsParameters.module"
                >
                  <nz-option
                    *ngFor="let ticketModule of ticketsModules"
                    [nzValue]="ticketModule.module"
                    [nzLabel]="ticketModule.module"
                  ></nz-option>
                </nz-select>
                <ng-template #modulelaceHolder let-selectedList
                  >and {{ selectedList.length }} more selected</ng-template
                >
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- --------------------------- Account Manager --------------------------- -->
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label nzFor="accountmanager"
                >Account Manager(s)</nz-form-label
              >
              <nz-form-control>
                <nz-select
                  [nzMaxTagCount]="1"
                  [nzMaxTagPlaceholder]="accountManagerPlaceHolder"
                  nzMode="multiple"
                  nzPlaceHolder="Select Account Manager"
                  name="accountmanager"
                  [(ngModel)]="ticketsParameters.accountManager"
                >
                  <nz-option
                    *ngFor="let accountManager of accountManagers"
                    [nzValue]="accountManager.fullNameEn"
                    [nzLabel]="accountManager.fullNameEn"
                  ></nz-option>
                </nz-select>
                <ng-template #accountManagerPlaceHolder let-selectedList
                  >and {{ selectedList.length }} more selected</ng-template
                >
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- ----------------------------- Assigned To ----------------------------- -->
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label nzFor="assignedTo">AssignedTo(s)</nz-form-label>
              <nz-form-control>
                <nz-select
                  [nzMaxTagCount]="1"
                  [nzMaxTagPlaceholder]="assignedToPlaceHolder"
                  nzMode="multiple"
                  nzPlaceHolder="Select Assigned To"
                  name="assignedTo"
                  [(ngModel)]="ticketsParameters.assignedTo"
                >
                  <nz-option
                    *ngFor="let accountManager of accountManagers"
                    [nzValue]="accountManager.fullNameEn"
                    [nzLabel]="accountManager.fullNameEn"
                  ></nz-option>
                </nz-select>
                <ng-template #assignedToPlaceHolder let-selectedList
                  >and {{ selectedList.length }} more selected</ng-template
                >
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="24">
          <!-- ------------------------------- Status -------------------------------- -->
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label nzFor="status">Status(es)</nz-form-label>
              <nz-form-control>
                <nz-select
                  [nzMaxTagPlaceholder]="statusPlaceHolder"
                  nzMode="multiple"
                  nzPlaceHolder="Select Status"
                  name="status"
                  [(ngModel)]="ticketsParameters.status"
                >
                  <nz-option
                    *ngFor="let status of statusList"
                    [nzValue]="status.name"
                    [nzLabel]="status.name"
                  ></nz-option>
                </nz-select>
                <ng-template #statusPlaceHolder let-selectedList
                  >and {{ selectedList.length }} more selected</ng-template
                >
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- -------------------------------- Types -------------------------------- -->
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-label nzFor="type">Type(s)</nz-form-label>
              <nz-form-control>
                <nz-select
                  [nzMaxTagPlaceholder]="typePlaceHolder"
                  nzMode="multiple"
                  nzPlaceHolder="Select Type"
                  name="type"
                  [(ngModel)]="ticketsParameters.type"
                >
                  <nz-option
                    *ngFor="let type of typeList"
                    [nzValue]="type.name"
                    [nzLabel]="type.name"
                  ></nz-option>
                </nz-select>
                <ng-template #typePlaceHolder let-selectedList
                  >and {{ selectedList.length }} more selected</ng-template
                >
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- ----------------------------- Check Boxes ----------------------------- -->
          <div nz-col [nzSpan]="6">
            <!-- ---------------------------- Not Approved ----------------------------- -->
            <label
              nz-checkbox
              name="notApproved"
              [(ngModel)]="ticketsParameters.notApproved"
              >Not Approved</label
            >
            <!-- ---------------------------- High Priority ---------------------------- -->
            <label
              nz-checkbox
              name="highPriority"
              [(ngModel)]="ticketsParameters.highPriority"
              >High Priority</label
            >
          </div>
        </div>

        <!-- ------------------------------- Buttons ------------------------------- -->
        <div nz-row nzJustify="end" [nzGutter]="24">
          <!-- Buttons -->
          <div nz-col [nzSpan]="24" class="filter_buttons">
            <button nz-button nzType="primary" (click)="searchTickets()">
              Search
            </button>
            <button nz-button nzType="default">Clear</button>
          </div>
        </div>
      </form>
    </nz-collapse-panel>
  </nz-collapse>
  <ng-template #extraIcons>
    <!-- You can use stopPropagation if you don't want the panel to toggle -->
    <div class="extra_icons">
      <button nz-button nzType="primary" nzShape="circle">
        <em nz-icon nzType="plus" routerLink='/tickets/new' (click)="$event.stopPropagation()"></em>
      </button>
      <button nz-button nzType="primary" nzShape="circle">
        <em nz-icon nzType="search"></em>
      </button>
    </div>
  </ng-template>
</div>
<br/>
<div class="row" style="overflow:auto;">
  <nz-table class="ticket_list"
    nzBordered
    nzShowSizeChanger
    [nzData]="ticketList"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    ([nzTotal])="pagination.totalCount"
    ([nzPageSize])="pagination.pageSize"
    ([nzPageIndex])="pagination.currentPage"
    (nzQueryParams)="onQueryParamsChange($event)"
    nzSize="small"
    [nzScroll]="{ x: '350em', y: '1000px' }"
  >
    <thead>
      <tr>
        <th nzWidth="40px"></th>
        <th nzWidth="20em" id="assignedTo">Assigned To</th>
        <th nzWidth="6em" id="ticketNo">Ticket No.</th>
        <th nzWidth="13em" id="status">Status</th>
        <th nzWidth="7em" id="priority">Priority</th>
        <th nzWidth="10em" id="type">Type</th>
        <th nzWidth="30em" id="fullName">Client Name</th>
        <th id="module">Module</th>
        <th nzWidth="50em" id="subject">Subject</th>
        <th id="category">Category</th>
        <th id="reminders">Reminder(s)</th>
        <th nzWidth="20em" id="submittedBy">Submitted By</th>
        <th id="submittedOn">Submitted On</th>
        <th id="duration">Duration - Day(s)</th>
        <th nzWidth="20em" id="closedBy">Closed By</th>
        <th id="closedOn">Closed On</th>
        <th nzWidth="20em" id="approvedBy">Approved By</th>
        <th id="approvedOn">Approved On</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let ticket of ticketList">
        <tr (dblclick)="showTicketDetails(ticket.sNo)">
          <td [nzExpand]="expandSet.has(ticket.sNo)" (nzExpandChange)="onExpandChange(ticket.sNo, $event)"></td>
          <td>{{ ticket.assignedTo }}</td>
          <td>{{ ticket.ticketNo }}</td>
          <td class="ticket-status">
            <nz-badge>
            <p [ngClass]="{
               'waiting' : ticket.status=='Waiting',
               'reopened' : ticket.status=='Reopened',
               'work_in_progress' : ticket.status=='Work In Progress',
               'pending_delivery' : ticket.status=='Pending Delivery',
               'pending_on_customer' : ticket.status=='Pending On Customer',
               'resolved' : ticket.status=='Resolved',
               'canceled' : ticket.status=='Canceled'
               }">
               {{ticket.status}}
            </p>
            </nz-badge>
         </td>
          <td class="ticket-priority">
            <div *ngIf="ticket.priority==='High'"><nz-badge nzColor="#ff766e" class="ticket-priority-badge" nzStatus="processing"></nz-badge>
               High
            </div>
            <div *ngIf="ticket.priority==='Normal'"><nz-badge nzColor="#f3f5a2" class="ticket-priority-badge" nzStatus="warning"></nz-badge>
               Normal
            </div>
            <div *ngIf="ticket.priority==='Low'"><nz-badge nzColor="#63acff" class="ticket-priority-badge" nzStatus="warning"></nz-badge>
               Low
            </div>
         </td>
          <td>{{ ticket.type }}</td>
          <td>{{ ticket.fullName }}</td>
          <td>{{ ticket.module }}</td>
          <td>{{ ticket.subject }}</td>
          <td>{{ ticket.category }}</td>
          <td>{{ ticket.reminders }}</td>
          <td>{{ ticket.submittedBy }}</td>
          <td>{{ ticket.submittedOn | date: 'short' }}</td>
          <td>{{ 0 }}</td>
          <td>{{ ticket.closedBy }}</td>
          <td>{{ ticket.closedOn | date: 'short' }}</td>
          <td>{{ ticket.approvedBy }}</td>
          <td>{{ ticket.approvedOn | date: 'short' }}</td>
        </tr>
        <tr [nzExpand]="expandSet.has(ticket.sNo)">
          <span>Problem Description: {{ ticket.problemDescription }}</span>
        </tr>
    </ng-container>
    </tbody>
  </nz-table>
  <div class="paginator">
    <nz-pagination [nzPageIndex]="pagination.currentPage" [nzTotal]="pagination.totalCount" nzShowSizeChanger [nzPageSize]="pagination.pageSize"></nz-pagination>
  </div>

</div>
<div class="paginator">
  <nz-pagination [nzPageIndex]="pagination.currentPage" [nzTotal]="pagination.totalCount" nzShowSizeChanger [nzPageSize]="pagination.pageSize"></nz-pagination>
</div>
