.collapse_header {
  text-align: left;
  font-size: 16px;
}

.extra_icons {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  justify-content: space-between;
}

[nz-icon] {
  font-size: 20px;
}

.filter_buttons {
  margin-left: 8px;
  text-align: right;
}

.filter_buttons button {
  margin-left: 8px;
}
