.collapse_header {
  text-align: left;
  font-size: 16px;
}

.extra_icons {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  justify-content: space-between;
}

[nz-icon] {
  font-size: 20px;
}

.filter_buttons {
  margin-left: 8px;
  text-align: right;
}

.filter_buttons button {
  margin-left: 8px;
}

.paginator {
  float: left;
}

.ticket-status {
  width: 10%;
}

.ticket-status p {
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 3px 8px;
  font-weight: 500;
}

.ticket-priority {
  width: 10%;
}

.ticket-priority-badge {
  transform: scale(1.7);
  margin-left: 5px;
}
