<ul>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Tony</span><br />Romo</p>
        <p class="card__num">9</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Resolved</span></p>
        <p class="card__num">12</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Ben</span><br />Roethlisberger</p>
        <p class="card__num">7</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Peyton</span><br />Manning</p>
        <p class="card__num">18</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Tom</span><br />Brady</p>
        <p class="card__num">12</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Drew</span><br />Brees</p>
        <p class="card__num">9</p>
      </div>
    </div>
  </li>
</ul>
