.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* max-width: 800px; */
  max-width: 100%;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 0 0 15px 0;
  text-align: center;
  overflow-x: hidden;
}

.card {
  width: calc(100% * 0.3333 - 30px + 0.3333 * 30px);
  height: 160px;
  margin: 0 15px 0 11px;
  border: 1px solid #d4d4d4;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.08);
  transition: 0.5s all;
}

.card:hover {
  transition: 0.5s all;
  box-shadow: 1px 1px 12px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transition: 0.5s all;
  top: -30% !important;
  box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.25);
}

.card:first-child .card__front {
  background: #ffff1a;
}

.card:nth-child(2) .card__front {
  background: #ffff1a;
}

.card:nth-child(3) .card__front {
  background: #1890ff;
}

.card:nth-child(4) .card__front {
  background: #e2c77b;
}

.card:nth-child(5) .card__front {
  background: #ffa500;
}

.card:nth-child(6) .card__front {
  background: #74dba4;
}

.card__flipper {
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card__front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  border: 1px solid #d4d4d4;
}

.card__front {
  transform: rotateY(0);
  z-index: 2;
  overflow: hidden;
  color: black;
}

.card__name {
  font-size: 32px;
  line-height: 0.9;
  font-weight: 700;
}

.card__name span {
  font-size: 14px;
}

.card__num {
  font-size: 50px;
  margin: 0;
  font-weight: 200;
}

.chart-title {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .card__num {
    font-size: 70px;
  }
}

@media (max-width: 700px) {
  .card {
    width: 100%;
    height: 290px;
    margin-right: 0;
    float: none;
  }
  .card .card__front {
    height: 290px;
  }
}
