<ul class="card-list">
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Waiting</span></p>
        <p class="card__num">9</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Reopened</span></p>
        <p class="card__num">12</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Work In Progress</span></p>
        <p class="card__num">7</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Pending Delivery</span></p>
        <p class="card__num">18</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Pending On Customer</span></p>
        <p class="card__num">12</p>
      </div>
    </div>
  </li>
  <li class="card">
    <div class="card__flipper">
      <div class="card__front">
        <p class="card__name"><span>Resolved</span></p>
        <p class="card__num">9</p>
      </div>
    </div>
  </li>
</ul>
