/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.boxed-item {
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
}

