/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.boxed-item {
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
}

/* ------------------------------ Status Colors ----------------------------- */

.waiting {
  background-color: #e9cd80;
}

.reopened {
  background-color: #ffac54;
}

.work_in_progress {
  background-color: #43a0fa;
}

.pending_delivery {
  background-color: #7fe3e3;
}

.pending_on_customer {
  background-color: #857aff;
}

.resolved {
  background-color: #74dba4;
}

.canceled {
  background-color: #ff5e5e;
}

