[nzTitle] {
  text-align: left;
}

.ticket-status {
  margin-bottom: -1em;
}

.ticket-status p {
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 3px 8px;
  font-weight: 500;
}

.ticket-priority-badge {
  transform: scale(1.7);
  margin-left: 5px;
}
