<div class="row">
  <nz-card >
    <nz-descriptions [nzColumn]="2" [nzSize]="'small'" nzTitle="Ticket Details" nzBordered>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Ticket No.">1001</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Status" [nzSpan]="3">
        <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
      </nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Priority">
        <nz-badge nzStatus="processing" nzText="Running"></nz-badge>
      </nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Type">Technical Support</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Client">195 | Client Name</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Module">Module</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Subject">Subject</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Problem Description">
        Data disk type: MongoDB
        <br />
        Database version: 3.4
        <br />
        Package: dds.mongo.mid
        <br />
        Storage space: 10 GB
        <br />
        Replication_factor:3
        <br />
        Region: East China 1
        <br />
      </nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="1" nzTitle="Submitted By">Submitted By</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="1" nzTitle="Submitted On">Submitted On</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="1" nzTitle="Closed By">Closed By</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="1" nzTitle="Closed On">Closed On</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="1" nzTitle="Approved By">Approved By</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="1" nzTitle="Approved On">Approved On</nz-descriptions-item>
      <nz-descriptions-item [nzSpan]="2" nzTitle="Duration">Duration</nz-descriptions-item>

    </nz-descriptions>

  </nz-card>

</div>
