[nzTitle] {
  text-align: left;
}

.ticket-status {
  margin-bottom: -1em;
}

.ticket-status p {
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 3px 8px;
  font-weight: 500;
}

.ticket-priority-badge {
  transform: scale(1.7);
  margin-left: 5px;
}

.ticket-notes {
  position: fixed;
  height: 100vh;
  width: 25%;
  right: 0%;
  z-index: 10;
  padding-left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(220, 220, 220);
  border-left: 1px solid rgb(220, 220, 220);
  box-shadow: 1px -2px 8px rgba(0, 0, 0, 0.08);
}
