[nzTitle] {
  text-align: left;
}

.ticke_details {
  display: flex;
 justify-content: center;
}

.filter_buttons {
  margin-left: 10px;
  margin-top: 10px;
  text-align: right;
}

.filter_buttons button {
  margin-left: 8px;
}

