<div class="row ticke_details">
  <nz-card nzTitle="Ticket Details">
    <!-- ----------------------------------------------------------------------- -->
    <!--                               Ticket Form                               -->
    <!-- ----------------------------------------------------------------------- -->
    <form nz-form [formGroup]="ticketForm" [nzNoColon]="true" (ngSubmit)="submitForm(ticketForm.value)">
      <div nz-row [nzGutter]="24">
        <!-- ------------------------------ Priority ------------------------------- -->
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true" [nzSpan]="6" nzFor="priority"
              >Priority</nz-form-label
            >
            <nz-form-control nzErrorTip="please select priority">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Select Priority"
                name="priority"
                formControlName="priority"
              >
                <nz-option
                  *ngFor="let priority of ticketPriorities"
                  [nzValue]="priority.name"
                  [nzLabel]="priority.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- -------------------------------- Types -------------------------------- -->
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzRequired]="true" nzFor="type">Type</nz-form-label>
            <nz-form-control nzErrorTip="please select type">
              <nz-select nzShowSearch nzPlaceHolder="Select Type" name="type" formControlName="type">
                <nz-option
                  *ngFor="let type of typeList"
                  [nzValue]="type.name"
                  [nzLabel]="type.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- ----------------------------- Assigned To ----------------------------- -->
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzFor="assignedTo">AssignedTo(s)</nz-form-label>
            <nz-form-control>
              <nz-select
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Select Assigned To"
                name="assignedTo"
                formControlName="assignedTo"
              >
                <nz-option
                  *ngFor="let accountManager of accountManagers"
                  [nzValue]="accountManager.fullNameEn"
                  [nzLabel]="accountManager.fullNameEn"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <!-- ------------------------------- Client -------------------------------- -->
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzRequired]="true" [nzSpan]="2" nzFor="clientID"
              >Client</nz-form-label
            >
            <nz-form-control nzErrorTip="please select client">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Select Client"
                name="clientID"
                formControlName="clientID"
                (ngModelChange)="getClientModules()"
              >
                <nz-option
                  *ngFor="let client of clients"
                  [nzValue]="client.sNo"
                  [nzLabel]="client.fullName"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <!-- ------------------------------- Module -------------------------------- -->
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzRequired]="true" [nzSpan]="2" nzFor="module"
              >Module</nz-form-label
            >
            <nz-form-control nzErrorTip="please select module">
              <nz-select
                nzShowSearch
                nzPlaceHolder="Select Module"
                name="module"
                formControlName="module"
                [nzLoading]="isLoadingModule"
              >
                <nz-option
                  *ngFor="let ticketModule of ticketsModules"
                  [nzValue]="ticketModule.module"
                  [nzLabel]="ticketModule.module"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <!-- ------------------------------- Subject ------------------------------- -->
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label [nzRequired]="true" [nzSpan]="2" nzFor="subject"
              >Subject</nz-form-label
            >
            <nz-form-control nzErrorTip="please enter subject">
              <input
                nz-input
                name="subject"
                type="text"
                id="subject"
                placeholder="Subject"
                formControlName="subject"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <!-- ------------------------- Problem Description ------------------------- -->
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label
              [nzRequired]="true"
              [nzSpan]="0"
              nzFor="problemDescription"
              >Problem Description</nz-form-label
            >
            <nz-form-control nzErrorTip="please enter problem description">
              <textarea
                nz-input
                name="problemDescription"
                id="problemDescription"
                placeholder="Problem Description"
                [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                formControlName="problemDescription"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <!-- ------------------------------- Upload -------------------------------- -->
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
          <nz-upload
            [nzShowUploadList]="false"
            [nzSpan]="3"
            nzType="drag"
            [nzMultiple]="true"
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            (nzChange)="handleChange($event)"
          >
            <p class="ant-upload-drag-icon">
              <em nz-icon nzType="inbox"></em>
            </p>
            <p class="ant-upload-text">
              Click or drag file to this area to upload
            </p>
            <p class="ant-upload-hint">
              Support for a single or bulk upload. Strictly prohibit from
              uploading company data or other band files
            </p>
          </nz-upload>
        </div>
      </div>
      <br/>
      <!-- -------------------------- Attachments List --------------------------- -->
      <div nz-row [nzGutter]="24" *ngIf="attachments">
        <div nz-col [nzSpan]="24">
          <nz-table [nzData]="attachments" nzBordered [nzFrontPagination]="false">
            <thead>
              <tr>
                <th>File Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attachment of attachments">
                <td>{{ attachment.name }}</td>
                <td>{{ attachment.type }}</td>
                <td>{{ attachment.size / 1024 / 1024 | number : '1.2-3' }} MB</td>
                <td>
                  <button type="button" nz-button nzType="primary" [nzSize]="small" nzDanger (click)="deleteAttachments(attachment)">
                    <em nz-icon nzType="delete"></em>Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
      <div nz-row nzJustify="end" [nzGutter]="24">
        <!-- ------------------------------- Buttons ------------------------------- -->
        <div nz-col [nzSpan]="24" class="filter_buttons">
          <button nz-button nzType="primary" [nzLoading]="isLoading">Save</button>
          <button type="button" nz-button nzType="default" (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </nz-card>
</div>
